# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
generated_plugin_registrant.dart

# Firebase
services/firebase_options.dart

# Web
web/.dart_tool/
web/build/
web/firebase-debug.log
web/firebase.json

# VS Code
.vscode/

