# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.flutter-env
.dart_tool/
.packages
.pub-cache/
build/
firebase_options.dart

# Firebase config files
firebase_app_id_file.json

# IDE files
.idea/
.vscode/
*.iml

# System files
.DS_Store
Thumbs.db
lib/env.dart
